*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
#color-body {
    background-image: url("https://images.pexels.com/photos/163403/box-sport-men-training-163403.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center center; /* Centra la imagen horizontal y verticalmente */
    color: rgb(255, 255, 255);
  }
  
  
.color-nav{
 background-color: #ecec0f;
 }

 .logo{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-top: 5px
 }
.navbar{
height: auto;
}

footer{
 background-color: #ecec0f;
padding: 1em 0;
margin-top: auto;
}

#logo-footer{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin-top: 5px
 }

 
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  

 table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
  }

  th{
    color: #ecec0f;
  }
  

@media (max-width: 600px) {
    th, td {
      font-size: 10px;
      padding: 5px;
    }
  

    .btn-delete {
      background-color: #ff0000;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 8px;
      padding: 3px 6px; /
    }
  }

  .button-center{
    display: flex;
    justify-content: center;
  }
  


 