*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
 
    
}
.color-nav{
 background-color: #ecec0f;
 }

 .logo{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-top: 5px
 }
.navbar{
height: auto;
}

footer{
 background-color: #ecec0f;
padding: 1em 0;
margin-top: auto;
}

#logo-footer{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    margin-top: 5px
 }
 
#color-body{
    background-color: black;
}



#prodVista {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  text-align: center;
}




.card-text {
  color: yellow;
  font-family: 'Kenia', sans-serif;
  font-size: 30px;
}

.imagen-tienda {
  max-width: 30%;
  height: auto;
  color: rgb(80, 81, 83);
}


@media (max-width: 768px) { 
    h1 {
      margin-top: 70px;
    }
  }


